<div id="loginModal" class="loginModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content centered">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button
          type="button"
          id="loginClose"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input
            type="email"
            id="defaultLoginForm-email"
            class="form-control validate"
          />
          <label
            data-error="wrong"
            data-success="right"
            for="defaultForm-email"
          >Your email</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input
            type="password"
            id="defaultLoginForm-pass"
            class="form-control validate"
          />
          <label
            data-error="wrong"
            data-success="right"
            for="defaultForm-pass"
          >Your password</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button id="modalLoginBtn" class="modalLoginBtn">Login</button>
      </div>
    </div>
  </div>
</div>