
<form class="mb-2">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" />
        <button id="searchButton" class="searchButton" type="submit">
            Search
        </button>
    </div>
</form>
<!-- sidebar content will eventually populate with blog post titles --->
<div class="sidebarContent">
    <button id="darkThemeBtn">Andrick's Blog</button>
    <button id="madelinesThemeBtn">Madeline's Blog</button>
    <button id="willsThemeBtn">Will's Blog</button>
    <button id="waltersThemeBtn">Walter's Blog</button>
    <button id="kylesThemeBtn">Kyle's Blog</button>
</div>
