
<form class="mb-2">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" />
        <button id="searchButton" class="searchButton" type="submit">
            Search
        </button>
    </div>
</form>
<!-- sidebar content will eventually populate with blog post titles --->
<div class="sidebarContent">
    Andrick's Blog (sample)<br />
    Will's Blog (sample)<br />
    Madeline's Blog (sample)<br />
    Walter's Blog (sample)<br />
    Kyle's Blog (sample)<br />
</div>
