
<form class="mb-2">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" />
        <button id="searchButton" class="searchButton" type="submit">
            Search
        </button>
    </div>
</form>
<!-- sidebar content will eventually populate with blog post titles --->
<div class="sidebarContent">
    <button id="andricksThemeBtn" class="sidebarBtns">Andrick's Blog</button>
    <button id="madelinesThemeBtn" class="sidebarBtns">Madeline's Blog</button>
    <button id="willsThemeBtn" class="sidebarBtns">Will's Blog</button>
    <button id="waltersThemeBtn" class="sidebarBtns">Walter's Blog</button>
    <button id="kylesThemeBtn" class="sidebarBtns">Kyle's Blog</button>
</div>
