<form class="mb-2">
  <div class="input-group">
    <input
      id="searchText"
      type="text"
      class="form-control"
      placeholder="Search"
    />
    <button id="searchButton" class="searchButton" type="submit">
      Search
    </button>
  </div>
</form>
<div class="sidebarContent">
  <a href="/andrick" id="andricksThemeBtn" class="sidebarBtns">Andrick's Blog</a>
  <a href="/madeline" id="madelinesThemeBtn" class="sidebarBtns">Madeline's Blog</a>
  <a href="/will" id="willsThemeBtn" class="sidebarBtns">Will's Blog</a>
  <a href="/walter" id="waltersThemeBtn" class="sidebarBtns">Walter's Blog</a>
  <a href="/kyle" id="kylesThemeBtn" class="sidebarBtns">Kyle's Blog</a>
</div>