
<form class="mb-2">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" />
        <button id="searchButton" class="searchButton" type="submit">
            Search
        </button>
    </div>
</form>
<!-- sidebar content will eventually populate with blog post titles --->
<div class="sidebarContent">
    Sample item<br />
    Sample item<br />
    Sample item<br />
    Sample item<br />
    Sample item<br />
    Sample item<br />
    Sample item<br />
</div>
