<!-- "all" and "blogwrite" .handlebars files might end up being unnecessary, but keep for now! --->

<div class="container">
    <div class="content">
        {{#each posts}}
        {{> post-contents}}
        {{/each}}
    </div>
</div>