* {
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.loginModal,
.signUpModal,
.profileModal {
  z-index: 1;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: #00000066;
}

#loginBtn,
#signUpBtn,
#themeToggleTestBtn,
#blogWriteBtn,
#saveBlogBtn,
#profileBtn,
#scrollUp,
#scrollDown,
#logOutBtn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #3372ff;
  margin-left: 1%;
  margin-right: 1%;
  line-height: 1.15;
  font-size: 16px;
}

/* profileModal does NOT belong here. */
#modalLoginBtn,
#modalSignUpBtn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #3372ff;
  line-height: 1.15;
  font-size: 16px;
}

#searchButton {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 10px 20px;
  border: 0;
  color: #fff;
  background: #3372ff;
  line-height: 1.15;
  font-size: 16px;
}

#loginBtn:hover,
#modalLoginBtn:hover,
#signUpBtn:hover,
#modalSignUpBtn:hover,
#themeToggleTestBtn:hover,
#blogWriteBtn:hover,
#saveBlogBtn:hover,
#profileBtn:hover,
#scrollUp:hover,
#scrollDown:hover,
#logOutBtn:hover {
  background-color: #205cdd;
  transition: all 0.2s ease;
  box-shadow: 0 0 0 0 #dedede;
}

.close {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 5px 10px;
  border: 0;
  color: #fff;
  background: #e1e1e1;
  line-height: 1.15;
  font-size: 16px;
}

.close:hover {
  background-color: #9fc2fe;
  transition: all 0.2s ease;
  box-shadow: 0 0 0 0 #dedede;
}

body {
  background: linear-gradient(#e1e1e1, #ffffff);
  background-attachment: fixed;
  height: 100%;
  color: #000000;
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dadada;
  padding: 1%;
}

.theme-image {
  display: none;
}

h1 {
  padding: 1%;
}

a {
  color: #456bf8;
  text-decoration: none;
}

a:hover {
  color: #b1ccff;
  transition: 0.5s;
}

.container {
  display: flex;
  background-color: transparent;
}

#editorContainer {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 80%;
}

#editor {
  height: 375px;
}

.form-control {
  border: none !important;
  box-shadow: none !important;
}

.sidebar {
  margin-top: 2%;
  padding: 1%;
  background-color: #ffffff93;
  box-shadow: 2px 2px 4px #d7d7d7;
  width: 25%;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 19px;
  line-height: 40pt;
}

.sidebarBtns {
  border: none;
  background-color: transparent;
  color: #1e1e1e;
}

.sidebarBtns:hover {
  color: #656565;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blog {
  background-color: #ffffff93;
  box-shadow: 2px 2px 4px #d7d7d7;
  font-size: 20px;
  margin-top: 2.5%;
  margin-left: 3%;
  padding: 3%;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #e4e4e4;
  box-shadow: 2px 2px 4px #d7d7d7;
  font-weight: bold;
}

.ql-toolbar.ql-snow {
  background-color: white;
}

.ql-container.ql-snow {
  background-color: white;
}

/* ------------------ DARK THEME ---------------- */

body.dark-theme {
  background: linear-gradient(#000000, #272727);
  background-attachment: fixed;
  color: #ffffff;
}

.dark-theme header {
  background-color: #000000;
  color: #323232b3;
}

.dark-theme .sidebar {
  background-color: #33333399;
  box-shadow: 2px 2px 5px #161616e4;
}

.dark-theme .sidebarContent {
  color: #767676;
}

.dark-theme .blog,
.dark-theme .editBar {
  background-color: #33333399;
  box-shadow: 2px 2px 5px #161616e4;
  color: #767676;
}

.dark-theme .navigation {
  background-color: #1f1f1f;
  box-shadow: 2px 2px 4px #2b2b2b;
  color: #767676;
}

.dark-theme #loginBtn,
.dark-theme #signUpBtn,
.dark-theme #themeToggleTestBtn,
.dark-theme #blogWriteBtn,
.dark-theme #saveBlogBtn,
.dark-theme #profileBtn,
.dark-theme #scrollUp,
.dark-theme #scrollDown {
  background-color: #252525;
  color: #505050;
}

.dark-theme #searchButton {
  background-color: #313131;
  color: #656565;
}

.dark-theme #loginBtn:hover,
.dark-theme #signUpBtn:hover,
.dark-theme #themeToggleTestBtn:hover,
.dark-theme #searchButton:hover,
.dark-theme #blogWriteBtn:hover,
.dark-theme #saveBlogBtn:hover,
.dark-theme #profileBtn:hover,
.dark-theme #scrollUp:hover,
.dark-theme #scrollDown:hover {
  color: #9d9d9d;
  background-color: #222222;
  box-shadow: 2px 2px 5px #171717bd;
}

/* ------------------ ANDRICK'S THEME ---------------- */

body.andricks-theme {
  background-image: url("/public/images/andricks-theme.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: #082818;
}

.andricks-theme header {
  background-color: transparent;
}

.andricks-theme h1 {
  color: #b5d8c7;
  text-align: center;
}

.andricks-theme .container {
  margin-bottom: 2%;
}

.andricks-theme .navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
}

.andricks-theme .blog {
  background-color: #022315;
  color: #c5deca;
  box-shadow: none;
}

.andricks-theme .sidebar {
  height: 50%;
  padding: 0%;
  background-color: transparent;
  color: #879f8ce8;
  box-shadow: none;
  width: 20%;
}

.andricks-theme .form-control {
  background-color: #022315;
}

.andricks-theme .form-control::placeholder {
  color: #4b5e51;
}

.andricks-theme #searchButton {
  background-color: #052c1c;
  color: #446861;
}

.andricks-theme #searchButton:hover {
  background-color: #114e34;
  color: #4e8075;
}

.andricks-theme #loginBtn,
.andricks-theme #signUpBtn,
.andricks-theme #themeToggleTestBtn,
.andricks-theme #blogWriteBtn,
.andricks-theme #saveBlogBtn,
.andricks-theme #logOutBtn,
.andricks-theme #profileBtn,,
.andricks-theme #scrollUp,
.andricks-theme #scrollDown {
  border-radius: none;
  background-color: #b5d6ce;
  color: #5d7e76;
}

.andricks-theme #loginBtn:hover,
.andricks-theme #signUpBtn:hover,
.andricks-theme #themeToggleTestBtn:hover,
.andricks-theme #blogWriteBtn:hover,
.andricks-theme #saveBlogBtn:hover,
.andricks-theme #logOutBtn:hover,
.andricks-theme #profileBtn:hover,
.andricks-theme #scrollUp:hover,
.andricks-theme #scrollDown:hover {
  background-color: #c3ece2;
  color: #7ca08a;
  box-shadow: 2px 2px 5px #171717bd;
}

.andricks-theme .sidebarBtns {
  color: #4b5e51;
  background-color: #022315;
  text-shadow: 1px 1px 3px #00120b;
  margin-bottom: 4%;
  transition: 0.2s;
}

.andricks-theme .sidebarBtns:hover {
  color: #cde7d5;
  text-shadow: 1px 1px 3px #00170e;
}

/* ------------------ MADELINE'S THEME ---------------- */

body.madelines-theme {
  background: linear-gradient(#5f5f5f, #444444);
  background-attachment: fixed;
  color: #ffffff;
}

/*body.andricks-theme .theme-image {
    display: block;
    width: 100%;
}

.andricks-theme header {
    display: none;
}*/

.madelines-theme header {
  background-color: #000000;
  color: #323232b3;
}

.madelines-theme .sidebar {
  background-color: #33333399;
  box-shadow: 2px 2px 5px #161616e4;
}

.madelines-theme .sidebarContent {
  color: #767676;
}

.madelines-theme .blog,
.madelines-theme .editBar {
  background-color: #33333399;
  box-shadow: 2px 2px 5px #161616e4;
  color: #767676;
}

.madelines-theme .navigation {
  background-color: #1f1f1f;
  box-shadow: 2px 2px 4px #2b2b2b;
  color: #767676;
}

.madelines-theme #loginBtn,
.madelines-theme #signUpBtn,
.madelines-theme #themeToggleTestBtn,
.madelines-theme #blogWriteBtn,
.madelines-theme #saveBlogBtn,
.madelines-theme #profileBtn,
.madelines-theme #scrollUp,
.madelines-theme #scrollDown {
  background-color: #252525;
  color: #505050;
}

.madelines-theme #searchButton {
  background-color: #313131;
  color: #656565;
}

.madelines-theme #loginBtn:hover,
.madelines-theme #signUpBtn:hover,
.madelines-theme #themeToggleTestBtn:hover,
.madelines-theme #searchButton:hover,
.madelines-theme #blogWriteBtn:hover,
.madelines-theme #saveBlogBtn:hover,
.madelines-theme #scrollUp:hover,
.madelines-theme #scrollDown:hover {
  color: #9d9d9d;
  background-color: #222222;
  box-shadow: 2px 2px 5px #171717bd;
}

/* ------------------ WILL'S THEME ---------------- */

body.wills-theme {
  background-image: url("/public/images/wills-theme.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.wills-theme header {
  display: none;
}

.wills-theme h1 {
  text-align: center;
}

.wills-theme .container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2%;
  margin-bottom: 5%;
}

.wills-theme .content {
  height: 50%;
}

.wills-theme .navigation {
  display: flex;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  position: fixed;
}

.wills-theme .blog {
  background-color: #27197afc;
  border-color: transparent;
  color: #c8a1f8;
  text-shadow: 1px 1px 2px #050016;
  box-shadow: none;
  transition: 0.6s;
}

.wills-theme .blog:hover {
  background-color: #440084fc;
  color: #eaacff;
  text-shadow: 1px 1px 2px #050016;
}

.wills-theme .sidebar {
  float: right;
  margin-top: 3.8%;
  margin-left: 2%;
  height: 50%;
  padding: 0%;
  background-color: transparent;
  color: #5546ac;
  box-shadow: none;
  width: 20%;
}

.wills-theme .sidebarContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 19px;
  line-height: 40pt;
}

.wills-theme .sidebarBtns {
  color: #6150c3;
  background-color: #27197a;
  text-shadow: 1px 1px 3px #07001d;
  transition: 0.2s;
  margin-bottom: 4%;
}

.wills-theme .sidebarBtns:hover {
  background-color: #6c4de5;
  color: #9176ff;
  text-shadow: none;
}

.wills-theme .form-control {
  background-color: #27197a;
}

.wills-theme .form-control::placeholder {
  color: #6150c3;
}

.wills-theme .form-control:hover {
  background-color: #9283eb;
}

.wills-theme #searchButton {
  background-color: #332587;
  color: #6150c3;
}

.wills-theme #searchButton:hover {
  background-color: #030d48;
  color: #3d4a93;
}

.wills-theme #loginBtn,
.wills-theme #signUpBtn,
.wills-theme #themeToggleTestBtn,
.wills-theme #blogWriteBtn,
.wills-theme #saveBlogBtn,
.wills-theme #profileBtn,
.wills-theme #logOutBtn,
.wills-theme #scrollUp,
.wills-theme #scrollDown {
  background-color: #ff00dd4f;
  color: #24c1e6;
  text-shadow: 1px 1px 3px #33004d;
  box-shadow: 1px 1px 3px #8007bda9;
  transition: 0.2s;
}

.wills-theme #loginBtn:hover,
.wills-theme #signUpBtn:hover,
.wills-theme #themeToggleTestBtn:hover,
.wills-theme #blogWriteBtn:hover,
.wills-theme #saveBlogBtn:hover,
.wills-theme #profileBtn:hover,
.wills-theme #logOutBtn:hover .wills-theme #scrollUp:hover,
.wills-theme #scrollDown:hover {
  background-color: #9637d0;
  color: #68e3ff;
  text-shadow: 1px 1px 1px #55004aac;
  box-shadow: 1px 1px 3px #54007f;
}

/* ------------------ WALTER'S THEME ---------------- */

body.walters-theme {
  background: linear-gradient(#d22fbf, #570d53);
  background-attachment: fixed;
  color: #ffffff;
}

/* ------------------ KYLE'S THEME ---------------- */

body.kyles-theme {
  background: linear-gradient(#43bed6, #0b7fc2);
  background-attachment: fixed;
  color: #ffffff;
}
