* {
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.loginModal,
.signUpModal,
.profileModal {
  z-index: 1;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: #00000066;
}

#loginBtn,
#signUpBtn,
#themeToggleTestBtn,
#blogWriteBtn,
#saveBlogBtn,
#profileBtn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #3372ff;
  margin-left: 1%;
  margin-right: 1%;
  line-height: 1.15;
  font-size: 16px;
}

#darkThemeBtn,
#madelinesThemeBtn,
#willsThemeBtn,
#waltersThemeBtn,
#kylesThemeBtn {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 19px;
}
/* profileModal does NOT belong here. */
#modalLoginBtn,
#modalSignUpBtn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #3372ff;
  line-height: 1.15;
  font-size: 16px;
}

#searchButton {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 10px 20px;
  border: 0;
  color: #fff;
  background: #3372ff;
  line-height: 1.15;
  font-size: 16px;
}

#loginBtn:hover,
#modalLoginBtn:hover,
#signUpBtn:hover,
#modalSignUpBtn:hover,
#themeToggleTestBtn:hover,
#blogWriteBtn:hover,
#saveBlogBtn:hover,
#profileBtn:hover {
  background-color: #205cdd;
  transition: all 0.2s ease;
  box-shadow: 0 0 0 0 #dedede;
}

.close {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 5px 10px;
  border: 0;
  color: #fff;
  background: #e1e1e1;
  line-height: 1.15;
  font-size: 16px;
}

.close:hover {
  background-color: #9fc2fe;
  transition: all 0.2s ease;
  box-shadow: 0 0 0 0 #dedede;
}

body {
  background: linear-gradient(#e1e1e1, #ffffff);
  background-attachment: fixed;
  height: 100%;
  color: #000000;
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dadada;
  padding: 1%;
}

h1 {
  padding: 1%;
}

a {
  color: #456bf8;
  text-decoration: none;
}

a:hover {
  color: #b1ccff;
  transition: 0.5s;
}

.container {
  display: flex;
  background-color: transparent;
}

.editBar {
  background-color: #ffffff93;
  box-shadow: 2px 2px 4px #d7d7d7;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 16px;
  padding: 1.5%;
}

#editorContainer {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 80%;
}

#editor {
  height: 375px;
}

.sidebar {
  margin-top: 2%;
  padding: 1%;
  background-color: #ffffff93;
  box-shadow: 2px 2px 4px #d7d7d7;
  width: 25%;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 19px;
  line-height: 40pt;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blog {
  background-color: #ffffff93;
  box-shadow: 2px 2px 4px #d7d7d7;
  font-size: 20px;
  margin-top: 2.5%;
  margin-left: 3%;
  padding: 3%;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #e4e4e4;
  box-shadow: 2px 2px 4px #d7d7d7;
  font-weight: bold;
}

/* ------------------ DARK THEME ---------------- */

body.dark-theme {
  background: linear-gradient(#000000, #272727);
  background-attachment: fixed;
  color: #ffffff;
}

.dark-theme header {
  background-color: #000000;
  color: #323232b3;
}

.dark-theme .sidebar {
  background-color: #33333399;
  box-shadow: 2px 2px 5px #161616e4;
}

.dark-theme .sidebarContent {
  color: #767676;
}

.dark-theme .blog,
.dark-theme .editBar {
  background-color: #33333399;
  box-shadow: 2px 2px 5px #161616e4;
  color: #767676;
}

.dark-theme .navigation {
  background-color: #1f1f1f;
  box-shadow: 2px 2px 4px #2b2b2b;
  color: #767676;
}

.dark-theme #loginBtn,
.dark-theme #signUpBtn,
.dark-theme #themeToggleTestBtn,
.dark-theme #blogWriteBtn,
.dark-theme #saveBlogBtn,
.dark-theme #profileBtn {
  background-color: #252525;
  color: #505050;
}

.dark-theme #searchButton {
  background-color: #313131;
  color: #656565;
}

.dark-theme #loginBtn:hover,
.dark-theme #signUpBtn:hover,
.dark-theme #themeToggleTestBtn:hover,
.dark-theme #searchButton:hover,
.dark-theme #blogWriteBtn:hover,
.dark-theme #saveBlogBtn:hover,
.dark-theme #profileBtn:hover {
  color: #9d9d9d;
  background-color: #222222;
  box-shadow: 2px 2px 5px #171717bd;
}

/* ------------------ ANDRICK'S THEME ---------------- 

body.madelines-theme {
    background: linear-gradient(#5f5f5f, #444444);
    background-attachment: fixed;
    color: #ffffff;
}*/

/* ------------------ MADELINE'S THEME ---------------- */

body.madelines-theme {
  background: linear-gradient(#5f5f5f, #444444);
  background-attachment: fixed;
  color: #ffffff;
}

.madelines-theme header {
  background-color: #000000;
  color: #323232b3;
}

.madelines-theme .sidebar {
  background-color: #33333399;
  box-shadow: 2px 2px 5px #161616e4;
}

.madelines-theme .sidebarContent {
  color: #767676;
}

.madelines-theme .blog,
.madelines-theme .editBar {
  background-color: #33333399;
  box-shadow: 2px 2px 5px #161616e4;
  color: #767676;
}

.madelines-theme .navigation {
  background-color: #1f1f1f;
  box-shadow: 2px 2px 4px #2b2b2b;
  color: #767676;
}

.madelines-theme #loginBtn,
.madelines-theme #signUpBtn,
.madelines-theme #themeToggleTestBtn,
.madelines-theme #blogWriteBtn,
.madelines-theme #saveBlogBtn,
.madelines-theme #profileBtn {
  background-color: #252525;
  color: #505050;
}

.madelines-theme #searchButton {
  background-color: #313131;
  color: #656565;
}

.madelines-theme #loginBtn:hover,
.madelines-theme #signUpBtn:hover,
.madelines-theme #themeToggleTestBtn:hover,
.madelines-theme #searchButton:hover,
.madelines-theme #blogWriteBtn:hover,
.madelines-theme #saveBlogBtn:hover {
  color: #9d9d9d;
  background-color: #222222;
  box-shadow: 2px 2px 5px #171717bd;
}

/* ------------------ WILL'S THEME ---------------- */

body.wills-theme {
  background: linear-gradient(#50be4a, #115010);
  background-attachment: fixed;
  color: #ffffff;
}

/* ------------------ WALTER'S THEME ---------------- */

body.walters-theme {
  background: linear-gradient(#d22fbf, #570d53);
  background-attachment: fixed;
  color: #ffffff;
}

/* ------------------ KYLE'S THEME ---------------- */

body.kyles-theme {
  background: linear-gradient(#43bed6, #0b7fc2);
  background-attachment: fixed;
  color: #ffffff;
}
